/* importar fonte legal aqui */

body {
    background-color: black;
    color: white;
    margin: 20px;
}

h1 {
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

.mensagem_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    gap: 20px;
}

.modal.escondido {
    display: none;
}

.presente {
    width: 100px;
}